/* Feuille de style */

@font-face{
	font-family: 'ballpark';
	src: url('polices/ballpark.eot');
	src: url('polices/ballpark.svg'), url('polices/ballpark.ttf'), url('polices/ballpark.woff');
}

@font-face{
	font-family: 'dayrom';
	src: url('polices/dayrom.eot');
	src: url('polices/dayrom.svg'), url('polices/dayrom.ttf'), url('polices/dayrom.woff');
}

body{
	background: url("images/fond_jaune.png");
}

#main_wrapper{
	width: 1050px; /*définition d'une largeur de page à 1000px pour avoir le même rendu que l'image */
	margin: auto;
}

header{
	background: url('images/separateur.png') repeat-x bottom;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#encart_logo{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top : 1%;
}

.logo{
	display: flex;
	align-items: baseline;
    height: 60px;
}

.logo img
{
    width: 59px;
    height: 60px;
}

h1{
	margin-top: 0;
	margin-left: 0.4em;
	font-family: 'ballpark';
	font-weight: normal;
	display: flex;
}

h2{
	margin-top: 0;
	font-family: Trebuchet MS;
	font-weight: bold;
	color: #413F3C;
	font-size: 1.1em;
	display: flex;
	align-items: flex-start;
}

nav{
	width: 30%;
	margin-bottom: 0.5em;
	margin-right: 15%;
	font-weight: normal;
}

/* Alignement de la liste de nav */
nav ul{
	list-style-type: none;
	display: flex;
}

nav ul li{
	margin-right: 13%;
}

/* Gestion du menu de navigation */
nav ul li a{
	font-family: 'dayrom';
	font-size: 1.2em;
	font-weight: bold;
	color: #413F3C;
	text-decoration: none;
}

nav ul li a:hover{
	color: #BA0000;
	text-decoration: underline;
	text-decoration-color: #BA0000;
}

#banniere{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#banniere img{
}